@import "./base.scss";


html {
    background: #f8f8f8
}

.checkbox-done {
    -webkit-appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    min-width: 1.1rem;
    max-height: 1.1rem;
    background: transparent;
    display: block;
    margin: 0 2px;
    border-radius: 3px;
    border: 2px solid #666;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
    display: inline-block;
    padding-bottom: 15px;
    &:focus {
      outline: 0;
    }

    &:before {
        content: "";
        color: transparent;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    &:hover {
        @apply bg-green-200;
        @apply border-green-400;
        @apply border-2;
    }

    &:checked {
        @apply bg-green-500;
        @apply border-green-400;
        @apply border-2;

        &:before {
            color: white;
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }

        &+[for*=""] {
            text-decoration: line-through;
        }
    }

}


[for^="check"] {
  display: inline-block;
  width: 80%;
  font-size: 18px;
  z-index: 200;
  cursor: text;
  color: #777;
  font-size: 20px;
}

.ic-scroller {
    &::-webkit-scrollbar-thumb {
        background-color: transparentize($color: #000000, $amount: 0.7);
        border-radius: 4px;

        &:hover {
            background-color: transparentize($color: #000000, $amount: 0.7);
        }
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
        height: 10px;
    }

    &-slim {
        transition: all ease .3s;
        &::-webkit-scrollbar {
            height: 0;
        }

        &:hover {
            &::-webkit-scrollbar {
                height: 3px;
            }
        }
    }
}